[submodule "vagrant/puppet/modules/apt"]
	path = vagrant/puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "vagrant/puppet/modules/stdlib"]
	path = vagrant/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/puppet/modules/mongodb"]
	path = vagrant/puppet/modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "vagrant/puppet/modules/nodejs"]
	path = vagrant/puppet/modules/nodejs
	url = https://github.com/willdurand/puppet-nodejs.git
